<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/scraper.css" th:href="@{/css/scraper.css}" rel="stylesheet" />
<title>Product List</title>
</head>
<body>
<div class="container">
<br><br>
<h1 th:text=${theProduct.title}></h1>
<h2 th:text=${theProduct.manufacturer}></h2>
<br><br>
<a th:href=@{/list}>Back to Product List</a>
<br><br>
<div class="jumbotron">
	<table class="table">
	<thead>
		<th scope="col">Picture</th>
		<th scope="col">Title</th>
		<th scope="col">Category</th>
		<th scope="col">Manufacturer</th>
		<th scope="col">Sale Price</th>
		<th scope="col">List Price</th>
	</thead>
	<tbody>
	<tr>
		<td><img th:src=${theProduct.imageUrl}></img></td>
		<td th:text=${theProduct.title}></td>
		<td th:text=${theProduct.category}></td>		
		<td th:text=${theProduct.manufacturer}></td>	
		<td th:text=${theProduct.salePrice}></td>
		<td th:text=${theProduct.listPrice}></td>
		<td><a th:href=${theProduct.productUrl}>Click Here to Buy</a></td>
	</tr>
	</tbody>	
	</table>
</div>
</div>
</body>
</html>