<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/scraper.css" th:href="@{/css/scraper.css}" rel="stylesheet" />
<title>Product List</title>
</head>
<body>
<div class="container">
<br><br>
<h1 th:text=${theProduct.name}></h1>
<h2 th:text=${theProduct.brand}></h2>
<br><br>
<a th:href=@{/list}>Back to Product List</a>
<br><br>
<div class="jumbotron">
	<table class="table">
	<thead>
		<th scope="col">Title</th>
		<th scope="col">Category</th>
		<th scope="col">Manufacturer</th>
	</thead>
	<tbody>
	<tr>
		<td th:text=${theProduct.name}></td>
		<td th:text=${theProduct.category}></td>		
		<td th:text=${theProduct.brand}></td>	
	</tr>
	</tbody>	
	</table>
</div>
<div class="jumbotron">
	<table class="table">
	<thead>
		<th scope="col">Website</th>
		<th scope="col">Date</th>
		<th scope="col">Sale Price</th>
		<th scope="col">Unit Price</th>		
	</thead>
	<tbody>
	<tr th:each="priceHistory : ${thePriceHistory}">
		<td th:text=${priceHistory.websiteId.name}></td>	
		<td th:text=${priceHistory.dateTimeScraped}></td>	
		<td th:text=${priceHistory.salePrice}></td>
		<td th:text=${priceHistory.unitPrice}></td>
	</tr>
	</tbody>	
	</table>
</div>

</div>
</body>
</html>